
.imgpadding 
{
    float: left;
    width: 50%;
}
.fermaindiv
{
    text-align: center;
    background-image: url('https://res.cloudinary.com/dwbsz6uqk/image/upload/v1577775270/maxresdefault_lvpytm.jpg');
    float: left;
    width: 100%;
    margin-top: 1%;
}
.imgcontent 
{
    padding-left: 48px;
    padding-right: 54px;
   font-size: 17px;
    padding-top: 38px;
    float: left;
    
}