.header
{
    background-color:grey;
}
.nav-item a
{
  color: chartreuse;
  font-size:20px;
}
.ferlogo 
{
  
    border-radius: 50%;
    float: left;
    margin-left: 45px;
}
.loginbtn 
{
  background-color: orange;
  padding: 10px 10px;
  
}


