body {
    background:#333;
}
.form_login {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 300px;
}
.align-center {
    text-align:center;
}
.signup a
{
    padding-left: 5%;
    
}