/* body {
    background:#333;
} */
.form_bg {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 75%;
}
.align-center {
    text-align:center;
}
.alrdacc
{
    text-align: center;
}
.alrdacc a
{
    padding-left: 25px;
}
.mainreg 
{
    text-align: center;
}
